POSTGRES_URL="postgres://postgres.datfmfejnpqtsrcriiqx:JgVg1qyI8yuzFN9d@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_USER="postgres"
POSTGRES_HOST="db.datfmfejnpqtsrcriiqx.supabase.co"
SUPABASE_JWT_SECRET="kc2b3SaT4o0URwH5HqryZy2LfB7ZG4lTsVqQoRoQPbGqvy1CHVsksHxKkoC3twNaVJ8VX1W1h/ukjASKbeHV+w=="
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRhdGZtZmVqbnBxdHNyY3JpaXF4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE4OTMyODMsImV4cCI6MjA3NzQ2OTI4M30.l7wKZ0_nqE1CQ3dygK7UMlJfGcLAGhhFwq-2Tou55iQ"
POSTGRES_PRISMA_URL="postgres://postgres.datfmfejnpqtsrcriiqx:JgVg1qyI8yuzFN9d@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
POSTGRES_PASSWORD="JgVg1qyI8yuzFN9d"
POSTGRES_DATABASE="postgres"
SUPABASE_URL="https://datfmfejnpqtsrcriiqx.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRhdGZtZmVqbnBxdHNyY3JpaXF4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE4OTMyODMsImV4cCI6MjA3NzQ2OTI4M30.l7wKZ0_nqE1CQ3dygK7UMlJfGcLAGhhFwq-2Tou55iQ"
NEXT_PUBLIC_SUPABASE_URL="https://datfmfejnpqtsrcriiqx.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRhdGZtZmVqbnBxdHNyY3JpaXF4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTg5MzI4MywiZXhwIjoyMDc3NDY5MjgzfQ.EQK5PaSK7d6aCwnb4zM_EISov7_-85JLv7RrDRIFyt4"
POSTGRES_URL_NON_POOLING="postgres://postgres.datfmfejnpqtsrcriiqx:JgVg1qyI8yuzFN9d@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"

JWT_SECRET = "rahasia"